<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biel.qmsgather.mapper.DfExcelC98bWireframeInkClimbingHeightConfigMapper">

    <resultMap id="BaseResultMap" type="com.biel.qmsgather.domain.DfExcelC98bWireframeInkClimbingHeightConfig">
            <result property="standardType" column="standard_type" jdbcType="TIMESTAMP"/>
            <result property="upperLongSideInkToGlassFrontHeight" column="upper_long_side_ink_to_glass_front_height" jdbcType="DECIMAL"/>
            <result property="lowerLongSideInkToGlassFrontHeight" column="lower_long_side_ink_to_glass_front_height" jdbcType="DECIMAL"/>
            <result property="nonGrooveShortSideInkToGlassFrontHeight" column="non_groove_short_side_ink_to_glass_front_height" jdbcType="DECIMAL"/>
            <result property="grooveShortSideInkToGlassFrontHeight" column="groove_short_side_ink_to_glass_front_height" jdbcType="DECIMAL"/>
            <result property="grooveInkToGlassBackHeight" column="groove_ink_to_glass_back_height" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        standard_type,upper_long_side_ink_to_glass_front_height,lower_long_side_ink_to_glass_front_height,
        non_groove_short_side_ink_to_glass_front_height,groove_short_side_ink_to_glass_front_height,groove_ink_to_glass_back_height
    </sql>
</mapper>
