<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biel.qmsgather.mapper.DfExcelC98bLayer2Program20240624ManualMapper">

    <resultMap id="BaseResultMap" type="com.biel.qmsgather.domain.DfExcelC98bLayer2Program20240624Manual">
            <result property="recordTime" column="record_time" jdbcType="TIMESTAMP"/>
            <result property="position28" column="position_28" jdbcType="DECIMAL"/>
            <result property="position29" column="position_29" jdbcType="DECIMAL"/>
            <result property="position30" column="position_30" jdbcType="DECIMAL"/>
            <result property="position31" column="position_31" jdbcType="DECIMAL"/>
            <result property="position32" column="position_32" jdbcType="DECIMAL"/>
            <result property="position33" column="position_33" jdbcType="DECIMAL"/>
            <result property="position34" column="position_34" jdbcType="DECIMAL"/>
            <result property="position35" column="position_35" jdbcType="DECIMAL"/>
            <result property="position36" column="position_36" jdbcType="DECIMAL"/>
            <result property="position37" column="position_37" jdbcType="DECIMAL"/>
            <result property="machineNumber" column="machine_number" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="noted" column="noted" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        record_time,position_28,position_29,
        position_30,position_31,position_32,
        position_33,position_34,position_35,
        position_36,position_37,machine_number,
        status,noted
    </sql>
</mapper>
