<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.DfExcelC98bLayer2Program20240624ManualConfigMapper">

    <resultMap id="BaseResultMap" type="generator.domain.DfExcelC98bLayer2Program20240624ManualConfig">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="standandType" column="standand_type" jdbcType="VARCHAR"/>
            <result property="position28" column="position_28" jdbcType="VARCHAR"/>
            <result property="position29" column="position_29" jdbcType="VARCHAR"/>
            <result property="position30" column="position_30" jdbcType="VARCHAR"/>
            <result property="position31" column="position_31" jdbcType="VARCHAR"/>
            <result property="position32" column="position_32" jdbcType="VARCHAR"/>
            <result property="position33" column="position_33" jdbcType="VARCHAR"/>
            <result property="position34" column="position_34" jdbcType="VARCHAR"/>
            <result property="position35" column="position_35" jdbcType="VARCHAR"/>
            <result property="position36" column="position_36" jdbcType="VARCHAR"/>
            <result property="position37" column="position_37" jdbcType="VARCHAR"/>
            <result property="batchId" column="batch_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,standand_type,position_28,
        position_29,position_30,position_31,
        position_32,position_33,position_34,
        position_35,position_36,position_37,
        batch_id
    </sql>
</mapper>
