<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biel.qmsgather.mapper.DfExcelC98bInkBm3andwireandoilConfig01Mapper">

    <resultMap id="BaseResultMap" type="com.biel.qmsgather.domain.DfExcelC98bInkBm3andwireandoilConfig01">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="modelCode" column="model_code" jdbcType="VARCHAR"/>
            <result property="measuringInstrument" column="measuring_instrument" jdbcType="VARCHAR"/>
            <result property="nominalValue" column="nominal_value" jdbcType="VARCHAR"/>
            <result property="toleranceMax" column="tolerance_max" jdbcType="VARCHAR"/>
            <result property="toleranceMin" column="tolerance_min" jdbcType="VARCHAR"/>
            <result property="upperLimit" column="upper_limit" jdbcType="VARCHAR"/>
            <result property="lowerLimit" column="lower_limit" jdbcType="VARCHAR"/>
            <result property="batchId" column="batch_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,model_code,measuring_instrument,
        nominal_value,tolerance_max,tolerance_min,
        upper_limit,lower_limit,batch_id
    </sql>
</mapper>
