<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biel.qmsgather.mapper.DfExcelC98bWireframe20240624ManualMapper">

    <resultMap id="BaseResultMap" type="com.biel.qmsgather.domain.DfExcelC98bWireframe20240624Manual">
            <result property="recordTime" column="record_time" jdbcType="VARCHAR"/>
            <result property="outlineWidth95" column="outline_width_95" jdbcType="DECIMAL"/>
            <result property="outlineWidth96" column="outline_width_96" jdbcType="DECIMAL"/>
            <result property="grooveWidth97" column="groove_width_97" jdbcType="DECIMAL"/>
            <result property="grooveWidth98" column="groove_width_98" jdbcType="DECIMAL"/>
            <result property="grooveWidth99" column="groove_width_99" jdbcType="DECIMAL"/>
            <result property="grooveWidth100" column="groove_width_100" jdbcType="DECIMAL"/>
            <result property="grooveWidth101" column="groove_width_101" jdbcType="DECIMAL"/>
            <result property="grooveLength102" column="groove_length_102" jdbcType="DECIMAL"/>
            <result property="allBodyInk103" column="all_body_ink_103" jdbcType="DECIMAL"/>
            <result property="lengthDifference" column="length_difference" jdbcType="DECIMAL"/>
            <result property="widthDifference" column="width_difference" jdbcType="DECIMAL"/>
            <result property="grooveWidthDifference" column="groove_width_difference" jdbcType="DECIMAL"/>
            <result property="machineNumber" column="machine_number" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="noted" column="noted" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        record_time,outline_width_95,outline_width_96,
        groove_width_97,groove_width_98,groove_width_99,
        groove_width_100,groove_width_101,groove_length_102,
        all_body_ink_103,length_difference,width_difference,
        groove_width_difference,machine_number,status,
        noted
    </sql>
</mapper>
