<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biel.qmsgather.mapper.DfExcelProcesscontroldataMapper">

    <resultMap id="BaseResultMap" type="com.biel.qmsgather.domain.DfExcelProcesscontroldata">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="timepoint" column="timepoint" jdbcType="VARCHAR"/>
            <result property="outerlengthupper" column="outerlengthupper" jdbcType="DECIMAL"/>
            <result property="outerlengthlower" column="outerlengthlower" jdbcType="DECIMAL"/>
            <result property="outerwidthupper" column="outerwidthupper" jdbcType="DECIMAL"/>
            <result property="outerwidthlower" column="outerwidthlower" jdbcType="DECIMAL"/>
            <result property="inlayheight" column="inlayheight" jdbcType="DECIMAL"/>
            <result property="inlaywidth" column="inlaywidth" jdbcType="DECIMAL"/>
            <result property="inlaybottomtoglassbottom" column="inlaybottomtoglassbottom" jdbcType="DECIMAL"/>
            <result property="inlaytoglasscenter" column="inlaytoglasscenter" jdbcType="DECIMAL"/>
            <result property="inlaytoptoglasstop" column="inlaytoptoglasstop" jdbcType="DECIMAL"/>
            <result property="inlaybottomtoglassbottomdistance" column="inlaybottomtoglassbottomdistance" jdbcType="DECIMAL"/>
            <result property="machinenumber" column="machinenumber" jdbcType="VARCHAR"/>
            <result property="notes" column="notes" jdbcType="VARCHAR"/>
            <result property="workstation" column="workstation" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,timepoint,outerlengthupper,
        outerlengthlower,outerwidthupper,outerwidthlower,
        inlayheight,inlaywidth,inlaybottomtoglassbottom,
        inlaytoglasscenter,inlaytoptoglasstop,inlaybottomtoglassbottomdistance,
        machinenumber,notes,workstation
    </sql>
</mapper>
