<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biel.qmsgather.mapper.DfYfExcelSandblastingUploadTemplateDataMapper">

    <resultMap id="BaseResultMap" type="com.biel.qmsgather.domain.DfYfExcelSandblastingUploadTemplateData">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="testTime" column="test_time" jdbcType="VARCHAR"/>
            <result property="clarity" column="clarity" jdbcType="VARCHAR"/>
            <result property="granularity" column="granularity" jdbcType="VARCHAR"/>
            <result property="luminosity" column="luminosity" jdbcType="VARCHAR"/>
            <result property="machineNumber" column="machine_number" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="tester" column="tester" jdbcType="VARCHAR"/>
            <result property="redundant1" column="redundant1" jdbcType="VARCHAR"/>
            <result property="redundant2" column="redundant2" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,test_time,clarity,
        granularity,luminosity,machine_number,
        status,tester,redundant1,
        redundant2
    </sql>
</mapper>
